<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
        name="ProductDemoContext"
        connectionString="Data Source=DESKTOP-9R370A1\MSSQLSERVER2016;Initial Catalog=ProductDemoDb;User=sa;Password=alperin12."
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>